<div [class]="'theme-wrapper ' + theme$">
  <mat-toolbar color="primary" role="toolbar" class="fixed-top">
    <span>Coins</span>
    <span class="toolbar-spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu">Currency</button>
    <mat-menu #menu="matMenu">
      <ng-container *ngFor="let currency of currencies">
        <button mat-menu-item [routerLink]="['/']" [queryParams]="{currency: currency}">{{ currency }}</button>
      </ng-container>
    </mat-menu>
  </mat-toolbar>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>