<mat-card>
    <mat-card-header>
        <div mat-card-avatar>
            <button mat-icon-button aria-label="Back">
                <mat-icon color="primary">keyboard_arrow_left</mat-icon>
            </button>
        </div>
        <mat-card-title>Details for '{{ coin.name }}'</mat-card-title>
        <mat-card-subtitle>Symbol: '{{ coin.symbol }}', current rank: {{ coin.cmcRank }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>

        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-icon-button aria-label="refresh">
            <mat-icon color="primary">refresh</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>